*{
    margin: 0;
}
body{
    background: #808080;
}
.text, .address, .menu, .text-aside, .wrapper-block{
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 700px;
    margin: 0 auto;
    text-align: justify;
}

.text-aside{
    width: 200px;
    background: #aeaeae;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    float: right;
    margin-left: 10px;
}
img, h1{
    display: inline-block;
}
h1{
    vertical-align: top;
    padding-top: 33px;
}
.address{
    text-align: center;
}
.nav{
    text-align: center;
}
.dropdown li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}
.dropdown-inside{
    display: none;
    position: absolute;
    left: 1px;
    top: 18px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
}
ul.dropdown li {
    position: relative;
}
ul.dropdown, ul.dropdown-inside {
    list-style-type: none;
}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
}
dd {
   margin-left: 40px;
}
table{
    width: 250px;
    margin: 0 auto;
}
td{
    height: 40px;
}
.equally-button{
   height: 83px;
}
button, .window-text{
    width: 100%;
    height: 100%;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
}
.window-text{
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
}


